<div class="ui two column grid middle aligned">
  <div class="six wide column">
    <h1 class="ui header blue"><i><b>Released</b></i></h1>
  </div>

  <div class="ten wide column vertical right aligned">
    <div>
      <%= "Hello, #{current_user.name}" %>.
      <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
    </div>
  </div>
</div>

<h2>Albums</h2>

<div class="ui three column stackable grid">
  <% @albums.each do |album| %>
    <div class="column">
      <div class="ui centered card">
        <div class="image">
          <%= image_tag album.image_url %>
        </div>
        <div class="content">
          <div class="header">
            <%= album.artist.name %>
          </div>
          <div class="meta">
            <%= link_to album.name, "https://open.spotify.com/album/#{album.spotify_id}", class: "group" %>
          </div>
        </div>

        <div class="extra content">
          <div class="right floated created"><i class="unordered calendar icon"></i>
            <%= I18n.l(album.released_at, format: :short_with_year) %>
          </div>
          <div><i class="unordered list icon"></i><%= pluralize(album.number_of_tracks, 'Track') %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @albums %>
