<div class="album-card">
  <div class="album-card__image-container">
    <%= image_tag album.image_url, class: 'album-card__image' %>
  </div>

  <div class="album-card__content">
    <span class="album-card__artist-name">
      <%= album.artist.name %>
    </span>

    <span class="album-card__album-name">
      <%= link_to album.name, "https://open.spotify.com/album/#{album.spotify_id}",
        class: "group" %>
    </span>

    <span class="album-card__release-infos">
      <%= pluralize(album.number_of_tracks, 'Track') %>
      •
      <%= I18n.l(album.released_at, format: :short_with_year) %>
    </span>
  </div>
</div>
