<header class="header">
  <div class="grid grid--space-between grid--vertical-middle">
    <div class="grid__cell">
      <div class="header__logo">
        <%= link_to dashboard_path do %>
          <h1>
            <div style="color: #41FF84">Released.</div>
            <div style="color: #0DECDA">today</div>
          </h1>
        <% end %>
      </div>
    </div>

    <div class="grid__cell">
      <p class="header__welcome">
        Hello,
        <strong>
          <%= current_user.name.split(' ').first %>.
        </strong>
        <%= link_to 'Releases', dashboard_path, class: 'header__link' %>
        <%= link_to 'Preferences', preferences_path, class: 'header__link' %>
        <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class: 'header__link' %>
      </p>
    </div>
  </div>
</header>
